body {
  margin: 0;
  padding: 0;
  background-image: linear-gradient(360deg, rgba(64, 150, 144, 0.575) 0%, #9efd9e);
  background-attachment: fixed;
}

#container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  gap: 10px 10px;
  grid-auto-flow: row;
  grid-template-areas: "logopy menu menu menu imagepy" "titulo titulo titulo titulo titulo" "logobandera logobandera logobandera logobandera logobandera" "imgcomi imgcomi rece rece rece" "proxrece proxrece proxrece proxrece proxrece" "copyr copyr copyr copyr copyr";
  grid-column-gap: 5px;
  grid-row-gap: 5px;
}

.logopydad {
  grid-area: logopy;
  display: flex;
  justify-content: center;
}

.logopy {
  grid-area: logopy;
  width: 160px;
  height: 160px;
  margin: 0px;
  margin-top: 20px;
  border-radius: 50%;
}

.menu {
  grid-area: menu;
  background-color: #282828;
}

.imagedad {
  overflow: hidden;
  display: flex;
  justify-content: center;
}

.imagepy {
  grid-area: imagepy;
  width: 125px;
  height: 100px;
  margin: 100px;
  margin-top: 80px;
  transform: translate(-50%, -50%);
  animation: latido 1.4s linear infinite;
}

.titulo {
  grid-area: titulo;
  width: 100%;
  margin-top: 75px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-style: normal;
  font-weight: 250;
  font-size: 48px;
  line-height: 24px;
  text-align: center;
  color: #000000;
}

.logobandera {
  grid-area: logobandera;
  margin: 30px;
  margin-top: 30px;
}
.logobandera img {
  width: 100%;
}

.proxrece {
  grid-area: proxrece;
}

.redes {
  grid-area: proxrece;
  display: flex;
  justify-content: center;
}

.prox {
  height: 84px;
  margin: 30px;
  margin-top: 30px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-style: normal;
  font-weight: 220px;
  font-size: 36px;
  line-height: 30px;
  text-align: center;
  color: #000000;
  display: flex;
  justify-content: center;
}

.sig {
  height: 25px;
  margin: 30px;
  margin-top: 5px;
  font-family: Lemon;
  font-style: normal;
  font-weight: 100;
  font-size: 24px;
  line-height: 12px;
  color: #000000;
  display: flex;
  justify-content: center;
}

.faceicon {
  height: 45px;
  margin: 20px;
  margin-top: 10px;
}

.twicon {
  height: 45px;
  margin: 20px;
  margin-top: 10px;
}

.facetext {
  margin-top: 20px;
  font-family: "Courier New", Courier, monospace;
  font-style: normal;
  font-weight: 100;
  font-size: 15px;
  line-height: 15px;
  text-align: center;
  color: #000000;
}

.twtext {
  margin-top: 20px;
  font-family: "Courier New", Courier, monospace;
  font-style: normal;
  font-weight: 100;
  font-size: 15px;
  line-height: 15px;
  text-align: center;
  color: #000000;
}

.copyr {
  grid-area: copyr;
}

.textcopyr {
  width: 100%;
  height: 29px;
  margin-top: 20px;
  font-family: "Istok Web";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 29px;
  text-align: center;
  color: #000000;
}

nav ul {
  margin-top: 100px;
  list-style: none;
  display: flex;
  justify-content: space-around;
}
nav ul li {
  font-family: fantasy;
  padding: 45px 45px;
  border-radius: 30px;
  background-color: rgb(255, 255, 255);
}
nav ul li a {
  text-shadow: 0 0 red;
  color: #dc3545;
  text-decoration: none;
}

.carta__comida {
  grid-area: imgcomi;
  margin: 30px;
  margin-top: 30px;
  display: flex;
  justify-content: center;
}
.carta__comida img {
  grid-area: imgcomi;
  margin: 30px;
  height: auto;
}

.carta__ingredientes__son {
  grid-area: rece;
  margin: 30px;
  margin-top: 30px;
}

.carta__ingredientes {
  grid-area: rece;
  background: #D9D9D9;
  margin-right: 30px;
  margin-left: 30px;
}

.carta__video {
  grid-area: proxrece;
  margin: 30px;
  margin-top: 30px;
  background: #D9D9D9;
  height: auto;
}

.imgcomida {
  margin: 30px;
  height: 300px;
}

.ingre {
  grid-area: rece;
  top: 0px;
  font-family: fantasy;
  font-style: normal;
  font-weight: 80px;
  font-size: 32px;
  line-height: 60px;
  text-align: center;
  color: #000000;
  display: flex;
  justify-content: center;
}

.lista {
  grid-area: rece;
  top: 40px;
  font-family: cursive;
  font-style: normal;
  font-weight: 380;
  font-size: 25px;
  line-height: 48px;
  color: #000000;
}

.videotext {
  font-family: fantasy;
  font-style: normal;
  font-weight: 380;
  font-size: 24px;
  line-height: 48px;
  text-align: center;
  color: #000000;
  display: flex;
  justify-content: center;
}

.carta__vervideo {
  margin-top: 45px;
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
}

.carta__masa {
  grid-area: rece;
  top: 64px;
  display: flex;
  justify-content: space-around;
}

.carta__relleno {
  grid-area: rece;
  top: 64px;
  display: flex;
  justify-content: space-around;
  margin-right: 60px;
}

.masa, .relleno {
  grid-area: rece;
  top: 0px;
  font-family: fantasy;
  font-style: oblique;
  font-weight: 380;
  font-size: 25px;
  line-height: 32px;
  color: red;
}

.lista__pastel {
  grid-area: rece;
  top: 35px;
  font-family: cursive;
  font-style: normal;
  font-weight: 380;
  font-size: 16px;
  line-height: 32px;
  color: #000000;
}

.carta__contacto {
  left: 300px;
  top: 3700px;
  background: #D9D9D9;
}

.contactotext {
  height: 220px;
  margin-top: 30px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-style: normal;
  font-weight: 380;
  font-size: 32px;
  line-height: 64px;
  text-align: center;
  color: #000000;
}

.carta__contacto--datos {
  height: 650px;
  margin-top: 20px;
  background: #000000;
}

.nombre {
  height: 32px;
  margin-top: 20px;
  font-family: "Lekton";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 32px;
  text-align: center;
  color: rgb(255, 255, 255);
}

.nombrerta {
  margin: 25px;
  height: 40px;
  margin-top: 20px;
  background: #D9D9D9;
}

.apellido {
  height: 32px;
  margin-top: 20px;
  font-family: "Lekton";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 32px;
  text-align: center;
  color: rgb(255, 255, 255);
}

.apellidorta {
  margin: 25px;
  height: 40px;
  margin-top: 20px;
  background: #D9D9D9;
}

.celular {
  height: 32px;
  margin-top: 20px;
  font-family: "Lekton";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 32px;
  text-align: center;
  color: rgb(255, 255, 255);
}

.celularrta {
  margin: 25px;
  height: 40px;
  margin-top: 20px;
  background: #D9D9D9;
}

.mail {
  height: 32px;
  margin-top: 20px;
  font-family: "Lekton";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 32px;
  text-align: center;
  color: rgb(255, 255, 255);
}

.mailrta {
  margin: 25px;
  height: 40px;
  margin-top: 20px;
  background: #D9D9D9;
}

.consulta {
  height: 32px;
  margin-top: 15px;
  font-family: "Lekton";
  font-style: normal;
  font-weight: 400;
  font-size: 46px;
  line-height: 46px;
  text-align: center;
  color: rgb(255, 255, 255);
  display: flex;
  justify-content: center;
}

.consultarta {
  height: 150px;
  text-align: left;
  background: #D9D9D9;
  margin: 20px;
  padding: 100px;
}

.limpiar {
  width: 90px;
  height: 30px;
  margin-top: 10px;
  background: #DD647A;
}

.enviar {
  width: 90px;
  height: 30px;
  margin-left: 100px;
  margin-top: 100px;
  background: #64dd7f;
}

.sobre__move {
  width: 0;
  height: 0;
  border-top: 50px solid #eee;
  border-right: 120px solid #ddd;
  border-bottom: 50px solid #ccc;
  border-left: 120px solid #ddd;
  margin: auto;
  margin-top: 2%;
}
.sobre__move:hover {
  animation: agitar 1s;
  animation-iteration-count: infinite;
}

.apellidodad, .botones, .numail, .nomape, .consultadad, .maildad, .numerodad, .nombredad {
  display: flex;
  justify-content: center;
}

.nombredad {
  height: 100px;
}

iframe {
  width: 560;
  height: 320;
}

@keyframes latido {
  0% {
    transform: translate(-50%, -50%) scale(1);
  }
  25% {
    transform: translate(-50%, -50%) scale(1.4);
  }
  50% {
    transform: translate(-50%, -50%) scale(1.2);
  }
  75% {
    transform: translate(-50%, -50%) scale(1.4);
  }
  100% {
    transform: translate(-50%, -50%) scale(1);
  }
}
@keyframes agitar {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  90% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}
@media screen and (max-width: 1300px) {
  #container {
    grid-template-areas: "logopy imagepy" "menu menu" "titulo titulo" "logobandera logobandera" "imgcomi rece" "proxrece proxrece" "copyr copyr";
    grid-template-columns: 50% 50%;
  }
}
@media screen and (max-width: 768px) {
  body {
    background-color: #000000;
  }
  #container {
    grid-template-areas: "imagepy" "logopy" "menu" "titulo" "logobandera" "imgcomi" "rece" "proxrece" "copyr";
    grid-template-columns: 1fr;
  }
  .imagedad {
    display: flex;
    justify-content: center;
  }
  .imagepy {
    width: 80px;
    height: 80px;
    margin: 0px;
    margin-left: 75px;
    margin-top: 60px;
    display: flex;
    justify-content: center;
  }
  .logopy {
    width: 200px;
    height: 200px;
    margin: 30px;
    margin-top: 10px;
    display: flex;
    justify-content: center;
  }
  nav ul {
    margin-top: 50px;
    list-style: none;
    display: flex;
    justify-content: space-around;
    padding-left: 5px;
  }
  nav ul li {
    font-family: fantasy;
    padding: 25px 30px;
    border-radius: 30px;
    background-color: rgb(255, 255, 255);
  }
  .sobre__move {
    display: none;
  }
  .nomape {
    display: inline;
  }
  .numail {
    display: inline;
  }
}
@media screen and (max-width: 650px) {
  body {
    background-color: #000000;
  }
  .menu {
    grid-area: menu;
    background-color: transparent;
  }
  .carta__comida img {
    width: 200px;
    height: 200px;
  }
  nav ul {
    margin-top: 10px;
    flex-direction: column;
    padding-left: 40px;
    padding-right: 40px;
  }
  nav ul li {
    padding: 20px 20px;
    background-color: #e9ecef;
    display: flex;
    justify-content: center;
  }
  .imagepy {
    margin-top: 50px;
  }
  .logopy {
    margin-left: 30px;
  }
  iframe {
    width: 280;
    height: 160;
  }
  .apellidodad, .nombredad, .numerodad, .maildad, .consultadad, .nomape, .numail, .botones {
    display: inline;
  }
  .nombredad {
    display: inline;
  }
  .numerodad {
    display: inline;
  }
  .maildad {
    display: inline;
  }
  .consultadad {
    display: inline;
  }
  .contactotext {
    font-size: 28px;
  }
  .consultarta {
    padding: 65px;
  }
}
@media screen and (max-width: 480px) {
  body {
    background-color: #000000;
  }
  .menu {
    grid-area: menu;
    background-color: transparent;
    display: flex;
    justify-content: center;
  }
  .carta__comida img {
    width: 120px;
    height: 120px;
  }
  nav ul {
    margin-top: 20px;
    justify-content: center;
  }
  nav ul li {
    padding: 25px 25px;
    border-radius: 60px;
  }
  .imagepy {
    width: 45px;
    height: 50px;
    margin-left: 30px;
    margin-top: 40px;
  }
  .logopy {
    width: 125px;
    height: 125px;
    margin: 20px;
  }
  iframe {
    width: 224;
    height: 128;
  }
  .contactotext {
    font-size: 20px;
  }
}

/*# sourceMappingURL=estilos.css.map */
