$color-1: #9efd9e;
$color-2: #282828;
$color-3: rgba(64, 150, 144, 0.575);
$color-4: #000000;
$color-5: rgb(255, 255, 255);
$color-6: #D9D9D9;
$color-7: #DD647A;
$color-8: #64dd7f;
$color-9: #e9ecef;
$color-10: red;
$color-11: #dc3545;
$color-12:#198754;
