$letra-titulo: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
$letra-menu: fantasy;
$letra-principal: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
$letra-secundaria: Lemon;
$letra-redes: "Courier New", Courier, monospace;
$letra-copy: "Istok Web";
$letra-lista: cursive;
$letra-consul: "Lekton";

